<% const CANONICAL   = htmlWebpackPlugin.options.canonical %>
<% const TITLE       = htmlWebpackPlugin.options.title %>
<% const AUTHOR      = htmlWebpackPlugin.options.author %>
<% const DESCRIPTION = htmlWebpackPlugin.options.description %>
<% const KEYWORDS    = htmlWebpackPlugin.options.keywords %>
<% const EMBED_IMAGE = htmlWebpackPlugin.options.embedImage %>

<!DOCTYPE html>
<html lang="en">
<head>
    <% if (TITLE) { %><title><%= TITLE %></title><% } %>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if (CANONICAL  ) { %><link rel="canonical" href="<%- CANONICAL %>"><% } %>
    <% if (AUTHOR     ) { %><meta name="author" content="<%- AUTHOR %>"><% } %>
    <% if (DESCRIPTION) { %><meta name="description" content="<%- DESCRIPTION %>"><% } %>
    <% if (KEYWORDS   ) { %><meta name="keywords" content="<%- KEYWORDS %>"><% } %>

    <!-- Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <% if (CANONICAL  ) { %><meta property="og:url" content="<%- CANONICAL %>"><% } %>
    <% if (TITLE      ) { %><meta property="og:title" content="<%- TITLE %>"><% } %>
    <% if (DESCRIPTION) { %><meta property="og:description" content="<%- DESCRIPTION %>"><% } %>
    <% if (EMBED_IMAGE) { %><meta property="og:image" content="<%- EMBED_IMAGE %>"><% } %>

    <!-- Twitter Meta Tags -->
    <% if (EMBED_IMAGE) { %><meta property="twitter:card" content="summary_large_image"><% } %>
    <% if (TITLE      ) { %><meta property="twitter:title" content="<%- TITLE %>"><% } %>
    <% if (DESCRIPTION) { %><meta property="twitter:description" content="<%- DESCRIPTION %>"><% } %>
    <% if (EMBED_IMAGE) { %><meta property="twitter:image" content="<%- EMBED_IMAGE %>"><% } %>

</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <h1>Images-to-Video with WebAssembly (Proof-of-Concept)</h1>
    <p>This was a really quick-and-dirty experimental/prototype project, not necessarily intended for general-use. It's meant to demonstrate the feasibility of using an existing ffmpeg WebAssembly library on npm for converting a series of image files into a single video file.</p>
    <p>Upload multiple ".jpg" files below. They will automatically be converted into a video, which should display shortly below. Depending on the browser you use, you should be able to download the file using the video player.</p>
    <p>This app *ONLY* accepts ".jpg" files. Everything else is ignored.</p>
    <div id="app-container">
        <input id="uploader" type="file" multiple />
        <video id="player" controls />
    </div>
</body>
</html>
