* {
    box-sizing: border-box;
}

#app {
    background: #ccc;
    overflow-y: auto;

    margin: 0.8em;
    height: calc(90vh);
    min-height: 18em;
    min-width: 1em;
}

#app-head {
    display: flex;
    align-items: center;
    flex-direction: row;

    background: #aaa;
    width: 100%;
    height: 2.2em;
}

#app-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    padding: 2em;
    width: 100%;
}
div.collections-overview-body {
    row-gap: 0.8em;
}
div.collection-detail-body {
    row-gap: 0.4em;
}

#head-title {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#head-button-left {
    align-self: start;
}
div.head-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    border: solid 2px;
    height: 100%;
    width: 8em;
    cursor: pointer;
}
div.head-button:hover {
    background: #ddf;
}

div.add-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 1px;
    background: #fff;
    height: 1em;
    width: 1em;
    cursor: pointer;
    font-size: 2em;
}
div.add-button:hover {
    background: #ddf;
}

div.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 1px;
    background: #faa;
    height: 1em;
    width: 1em;
}
div.delete-button:hover {
    background: #f88;
}

div.collection-summary-box {
    border: solid 1px;
    background: #fff;

    height: 5em;
    width: 20em;
    padding: 0.5em;

    cursor: pointer;
}
div.collection-summary-box:hover {
    background: #ddf;
}
span.collection-summary-name {
}

div.todo-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background: #fff;
    width: 20em;
    height: 1.8em;
    padding: 0 0.4em 0 0.4em;
    column-gap: 0.4em;
}

