/*
 * Filename: index.css
 * Author:   simshadows <contact@simshadows.com>
 * License:  GNU Affero General Public License v3 (AGPL-3.0)
 */

:root {
    --color-text-1: #000;
    --color-text-2: #000;
    --color-loading-spinner: #444;

    --color-background-1: #fff;
    --color-background-2: #666;

    --color-foreground-1: #fff;
    --color-foreground-1-mouseover: #ccf;
    --color-foreground-1-click: #aaf;
    --color-foreground-2: #aaa;

    --color-border: #000;

    --color-linebox-highlight: #67cf67;
    --color-numbox-highlight: #36bf36;
}


@font-face {
    font-family: Inconsolata;
    src: url(/common-dependencies/inconsolata-font/Inconsolata-VariableFont_wdth,wght.ttf);
}

* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;

    height: 100%;
    min-width: fit-content;
    min-width: -moz-fit-content;
    min-height: fit-content;
    min-height: -moz-fit-content;
    margin: 0;
    padding: 0;
    background: var(--color-background-1);
    color: var(--color-text-1);

    font-family: Inconsolata, Consolas, monospace;
    cursor: default;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1em;
    font-size: 2.4em;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5em;

    height: 17em;
    min-height: 17em;

    font-weight: bold;
}

div.app-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.4em;

    padding: 0.5em;
    height: 100%;
    background: var(--color-background-2);
    border: thin solid var(--color-border);
}

#app-left {
    flex: 1;

    width: 21.4em;
    min-width: 21.4em;
}
#playarea {
    flex: 1;

    display: grid;
    gap: 0.4em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row;

    width: 100%;
}

#app-right {
    width: 4.6em;
    min-width: 4.6em;
}
#payouts-disp {
    flex: 1;

    display: flex;
    flex-direction: column;
    row-gap: 0.15em;

    width: 100%;
}
#payouts-disp > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.15em;
}
#payouts-disp > div > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
    background: var(--color-foreground-2);
    font-size: 60%;
}
div.payouts-score-box {
    width: 2em;
    padding: 0 0.2em 0 0.2em;
    color: var(--color-text-2);
    border: thin solid var(--color-border);
}
div.payouts-mgp-box {
    flex: 1;

    border: thin solid var(--color-border);
}
div.payouts-mgp-box > input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font: inherit;
    text-align: right;
    padding: 0 0.2em 0 0.2em;
    background: var(--color-foreground-1);
    color: var(--color-text-1);
}

div.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: thin solid var(--color-border);
}
div.cell > * {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}
div.cell-next-row {
    grid-column: 1;
}

div.button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-foreground-1);
}
div.button {
    cursor: pointer;
}
div.button:hover {
    background: var(--color-foreground-1-mouseover);
}
div.button:active {
    background: var(--color-foreground-1-click);
}

div.svg-in-cell > div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3em;
    width: 3em;
}
div.svg-in-cell > div > svg {
    fill: var(--color-text-1);
    height: 100%;
    width: 100%;
}

div.icon-in-cell > div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.8em;
    width: 1.8em;
}
div.icon-in-cell > div > svg {
    fill: var(--color-text-1);
    height: 100%;
    width: 100%;
}

div.line-box {
    font-size: 75%;
    color: var(--color-text-2);
    background: var(--color-foreground-2);
}
div.line-box.highlight-best {
    background: var(--color-linebox-highlight);
}

div.num-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.num-box > div {
    width: 100%;
}
div.num-box.num-unknown {
    background: var(--color-foreground-2);
}
div.num-box.num-revealed {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 200%;
    background: var(--color-foreground-1);
}
div.num-box.highlight-best {
    background: var(--color-numbox-highlight);
}

div.num-score-box {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.1em 0 0 0;
    font-size: 45%;
    color: var(--color-text-2);
}

div.num-box-buttongrid {
    flex: 1;

    display: grid;
    gap: 0.1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;

    padding: 0.1em 0.2em 0.2em 0.2em;
}
div.num-box-buttongrid > div {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 75%;
    height: 100%;
    width: 100%;
}
div.num-box-buttongrid > div.button {
    border: thin solid var(--color-border);
}

div.num-box-buttongrid-simplemode {
    padding: 0.2em 0.2em 0.2em 0.2em;
}

#info-cell {
    padding: 0.5em;
    font-size: 42%;
    border: none;
}

.loading-spinner-custom {
    color: var(--color-loading-spinner); 
}

