* {
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    background: #666;
    width: 25em;
    height: 14em;

    font-family: monospace;
    font-size: 3em;
}
#app > div {
    width: 100%;
}

#play-area {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
#play-area.start > div {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0.5em;
}

#bottom-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3em;
}

div.button {
    background: #fff;
    padding: 0.2em 0.6em 0.2em 0.6em;

    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
}
div.button:hover {
    background: #aaa;
}
div.button:active {
    background: #aaf;
}

#board {
    display: grid;
    gap: 0.3em;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
}
#board > div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3em;
    width: 3em;
}
#board > div.marked-cell {
    background: #fff;
    cursor: default;
}
#board > div > span {
    font-size: 3em;
}

.side {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 0.4em;
}
.side > span {
    text-align: center;
}

